<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" id="dashboard">
    <div class="row location_tab" id="crypto_data_tab">
        <table class="table" id="data_tab">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Total Supply</th>
                <th>Price</th>
                <th>Last Updated</th>
            </tr>
            </thead>
            <tbody id="tab_body">
                  {% if tickers %}
                       {% for ticker in tickers %}
                         <tr>
                             <td>{{ ticker.rank }}</td>
                             <td>{{ ticker.name }}</td>
                             <td>{{ ticker.symbol }}</td>
                             <td>{{ ticker.total_supply }}</td>
                             <td>{{ ticker.price }}</td>
                             <td>{{ ticker.last_updated }}</td>
                         </tr>
                       {% endfor %}
                  {% else %}
                  {% endif %}
            </tbody>
        </table>
    </div>
</div>


</body>
</html>

